<h2>Import Company Employees. Step 1 / 3</h2>
<div class="my-first-form">
    <div ng-controller="uploader" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Status</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="status">
                    <option value="null"></option>
                    <option value="active">Active</option>
                    <option value="suspended">Suspended</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input ng-model="password" type="text" class="form-control" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">File input</label>
            <div class="col-sm-9">
                <input type="file" file-model="customer.file">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <button ng-click="upload()" class="btn btn-primary">Upload</button>
            </div>
            <div class="col-sm-3">
                <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</div>