<h2>Import Company Employees. Step 2 / 3</h2>
<div ng-controller="step2">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label required">Status</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="api_data.status">
                    <option value="null"></option>
                    <option value="active">Active</option>
                    <option value="suspended">Suspended</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label required">Password</label>
            <div class="col-sm-9">
                <input ng-model="api_data.password" type="text" class="form-control" placeholder="Password">
            </div>
        </div>

        <div class="form-group"><label class="col-sm-3 control-label">File Name:</label>
            <div class="col-sm-9">
                <span>{{ api_data.file_name }}</span>
            </div>
        </div>
    </div>

    <table class="myTable table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th ng-repeat="(key, item) in api_data.show_rows[0]">
                <select class="form-control" data-numb="{{key}}" select-columns>
                    <option ng-repeat="(key2, value) in api_data.allowed_cols" value="{{ key2 }}">{{ value }}</option>
                </select>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, row) in api_data.show_rows">
            <td>
                {{ key + 1 }}
            </td>
            <td ng-repeat="col in row track by $index">
                {{ col }}
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <div class="col-sm-offset-9 col-sm-3">
            <button ng-click="show_preview()" class="btn btn-primary">Preview</button>
            <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
        </div>
    </div>
</div>