<h2>Import Company Employees. Step 3 / 3</h2>
<div ng-controller="step3-ctrl">

    <p><strong>Status:</strong> {{api_data.status}}</p>
    <p><strong>Password:</strong> {{api_data.password}}</p>
    <p><strong>File Name:</strong> {{api_data.file_name}}</p>

    <table class="myTable table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th ng-repeat="(key, item) in api_data.mapping">
                {{ api_data.allowed_cols[item] }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, row) in api_data.show_rows">
            <td>
                {{ key + 1 }}
            </td>
            <td ng-repeat="col in row track by $index">
                {{ col }}
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <div class="col-sm-offset-7 col-sm-5">
            <button ng-click="back()" class="btn btn-primary">Back to mapping</button>
            <button ng-click="save()" class="btn btn-success">Save</button>
            <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
        </div>
    </div>

</div>