h1, h2, h3 {
    text-align: center;
}

.my-content {
    width: 1000px;
    margin: 0 auto;
}

.my-first-form {
    width: 400px;
    margin: 40px auto 0;
}

[ng-controller="step2"] {
    margin-top: 40px;
}

[ng-controller="step2"] .myTable {
    margin-top: 40px;
}

[ng-controller="step2"] .required:after{
    content: " *";
    color: red;
}